<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>update_post</title>
    <link rel="stylesheet" href="{{ url_for('static', filename="CSS/style.css") }}">
</head>
<body>
<div style="display:flex;justify-content:flex-end">
    <a href="{{ url_for('search') }}">Search | </a>
    <a href="{{ url_for('profile', username=session['username']) }}">My Profile| </a>
    <a href="{{ url_for('logout') }}">Logout</a>
</div>
<form method="post" action="{{ url_for('updatepost' , post_id = post.id) }}" enctype="multipart/form-data">
    <label>Title:</label>
    <input type="text" name="title" value="{{ post.title }}" required>
    <br>
    <label>Caption:</label>
    <textarea name="caption" required>{{ post.caption }}</textarea>
    <br>
    <label for="file">Upload the File:</label>
    <input type="file" id="file" name="file">
    <br><br>
    <input type="submit" value="Create post">
</form>

</body>
</html>