<!DOCTYPE html>
<html>
<head>
    <title>Signup</title>
    <link rel="stylesheet" href="{{ url_for('static', filename="CSS/style.css") }}">
</head>
<body>
<h1>Signup</h1>

<h3> Please Enter the below details</h3>
<form action="{{ url_for('signup') }}" method="post">
    <div class="mb-3">
        <label for="username">Username:</label>
        <input type="text" name="username" id="username" required>
    </div>
    <div class="mb-3">
        <label for="name">Name:</label>
        <input type="text" name="name" id="name" required>
    </div>
    <div class="mb-3">
        <label for="password">Password:</label>
        <input type="password" name="password" id="password" required>
    </div>
    <input type="submit" value="Signup">
</form>
</body>
</html>
